<h3>Professor: {{professor.nome}}</h3>
<div class="tabela-horarios">
    {{#each professor.disponibilidade}}
    <div id="escolha-professor-dia-{{@index}}">
        <div class="dia-semana">{{#with (lookup ../diasDaSemana @index)}} {{this}} {{/with}}</div>
        {{#each this}}
            <button class="btn btn-sm btn-escolha-professor-disponibilidade {{#if this}}available{{/if}}" id="escolha-professor-tempo-{{@../index}}-{{@index}}" onclick="escolhaProfessor.ChangeDisponibility({{../../professor.id}}, {{@../index}}, {{@index}});">{{@index}} - {{this}}</button>
        {{/each}}
    </div>
    {{/each}}
</div>
