<h3>{{typeCapitalized}}: {{elem.nome}}</h3>
{{#if aditionalText}}
<h4>{{aditionalText}}</h4>
{{/if}}
<div class="tabela-horarios">
    {{#each elem.disponibilidade}}
    <div id="escolha-{{../type}}-dia-{{@index}}">
        <button class="btn btn-sm dia-semana {{#unless ../editable}}locked{{/unless}}" {{#if ../editable}}onclick="escolha{{../typeCapitalized}}.MakeDayAvailable({{../elem.id}}, {{@index}})"{{/if}}>
            {{#with (lookup ../diasDaSemana @index)}} {{this}} {{/with}}
        </button>
        {{#each this}}
            <button class="btn btn-sm btn-escolha-disponibilidade {{#if this}}available{{/if}} {{#unless ../../editable}}locked{{/unless}}" id="escolha-{{../../type}}-tempo-{{@../index}}-{{@index}}" {{#if ../../editable}}onclick="escolha{{../../typeCapitalized}}.ChangeDisponibility({{../../elem.id}}, {{@../index}}, {{@index}});"{{/if}}>{{lookup ../../horarios @index}}</button>
        {{/each}}
    </div>
    {{/each}}
</div>
