<h3>Grupo: {{grupo.nome}}</h3>
<div class="tabela-horarios">
    {{#each grupo.disponibilidade}}
    <div id="escolha-professor-dia-{{@index}}">
        <div class="dia-semana">{{#with (lookup ../diasDaSemana @index)}} {{this}} {{/with}}</div>
        {{#each this}}
            <button class="btn btn-sm btn-escolha-disponibilidade {{#if this}}available{{/if}}" id="escolha-grupo-tempo-{{@../index}}-{{@index}}" onclick="escolhaGrupo.ChangeDisponibility({{../../grupo.id}}, {{@../index}}, {{@index}});">{{@index}} - {{this}}</button>
        {{/each}}
    </div>
    {{/each}}
</div>
